label {
    color: darkviolet;
    font-weight: bold;
    font-family: sans-serif;
}

div {
    padding: 10px 10px 10px 10px;
}

textarea {
    resize: none;
}

.option {
    color: black;
    font-weight: normal;
}

.error {
    margin-left: 5px;
    font-size: 14px;
    color: red;
}
